*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
:root{
    --font-color:#000;
    --font-famity:"Jaldi", sans-serif;
}
body{
    font-family: var(--font-famity);
    color: #000;
    background-color: #fff;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-mode-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 4rem;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    width: 4rem;
    font-size: 2.2rem;
    cursor: pointer;
}
.dark-mode-button i{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}


/* ------ */
.navbar{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    /* height: 10vh; */
}
.logo{
    font-size: 2.4rem;
    font-weight: 600;
    background-color: transparent;
    padding-left: 4rem;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: end;
    background-color: #000;
    padding: 1.6rem 4rem;
    width: 60%;
    border-bottom-left-radius: 180px;
}
.navbar .laptop-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bx-menu{
    display: none!important;
}
.navbar ul li a{
    color: #fff;
    margin: 0 1rem;
    font-size: 1.6rem;
}
.navbar-contact{
    margin-left: 8rem;
    background-color: #f8f8f8;
    border-radius: 28px;
    padding: 4px 0;
    border: 2px solid #000;
}
.navbar-contact a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000!important;
    font-weight: 600;
    padding: 2px 0px;
    font-size: 22px!important;
}
.navbar-contact a i{
    transform: rotate(-45deg);
    font-size: 28px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 10px;
    padding: 1px;
}
.wrapper,.phone-nav{
    display: none;
}
/* ------ */

.heading{
    margin-top: 6rem;
}
.heading h1{
    font-size: 3rem;
    border-bottom: 4px solid green;
}

.blogs-section{
    width: 60%;
}

.blog-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #888;
    border-radius: 8px;
    margin: 2rem 0;
    height: 22vw;
    /* background-color: #cccccc61; */
}
.blog-box img{
    width: 100%;
    height: 100%;
    /* height: 24rem; */
    margin-right: 2rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.blog-box-right{
    padding-right: 2rem;
    width: 100%;
}
.blog-box-right p{
    line-height: 22px;
    font-size: 20px;
    font-weight: 100;
}
.blog-box-right button{
    width: 100%;
    border: none;
    padding: .6rem 1rem;
    border-radius: 8px;
    margin-top: 8vw;
    cursor: pointer;
    transition: all ease-in-out .3s;
    border: 1px solid #000;
}
.blog-box-right button:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}


/* ------------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.6rem 4rem;
    border-top: 2px solid #00000025;
    margin-top: 6rem;
    background-color: #20202009;
}
footer h3{
    font-size: 1.6rem;
}
.footer-top{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}
.footer-links{
    display: flex;
    flex-direction: row;
    align-items: start;
    /* margin: 0 2rem; */
}
.footer-links div{
    margin: 1rem 3rem;
}
.footer-links ul li a{
    font-size: 1.4rem;
    color: #202020;
    transition: all ease-in-out .1s;
    font-family: 600;
}
.footer-links ul li a:hover{
    transition: all ease-in-out .1s;
    color: #20202097;
}

.footer-socials ul{
    display: flex;
    align-items: center;
    margin-top: .8rem;
}
.footer-socials li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.4rem;
    margin: .4rem;
    padding: 12px;
    border-radius: 50%;
    background-color: #080808;
    color: #fff;
    transition: all ease-in-out .1s;
}
.footer-socials li a:hover{
    transition: all ease-in-out .1s;

    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.footer-socials h4,.footer-socials h5{
    margin-left: 10px;
}
.footer-socials h5{
    margin-top: 1rem;
    font-size: 1.6rem;
    margin-bottom: -8px;
}
.footer-socials h4{
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
    height: 4rem;
    background-color: #000;
}

/* ------------------- */

@media(max-width:1610px){ 
    .blog-box-right p{
        line-height: 20px;
        font-size: 14px;
    }
    .blog-box-right button{
        margin-top: 4vw;
    }
    .blogs-section{
        width: 68%;
    }
}
@media(max-width:1110px){
    .blogs-section{
        width: 80%;
    }
    .blog-box-right button {
        margin-top: 4rem;
    }
}

@media(max-width:930px){
    .navbar .laptop-nav{
        display: none;
     }
     .navbar ul {
         padding: 0rem;
         width: 100%;
     }
     .wrapper,.phone-nav{
         display: block;
     }
     .wrapper{
       position: absolute;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       background: #000;
       clip-path: circle(25px at calc(100% - 45px) 45px);
       transition: all 0.3s ease-in-out;
     }
     #active:checked ~ .wrapper{
       clip-path: circle(75%);
     }
     .menu-btn{
       position: absolute;
       z-index: 2;
       right: 20px;
       /* left: 20px; */
       top: 20px;
       height: 50px;
       width: 50px;
       text-align: center;
       line-height: 50px;
       border-radius: 50%;
       font-size: 20px;
       color: #fff;
       cursor: pointer;
       background: #000;
       color:#fff!important;
       transition: all 0.3s ease-in-out;
     }
     #active:checked ~ .menu-btn{
       color: #fff;
     }
    .bx-menu{
        display: contents;
    }
     #active:checked ~ .menu-btn i:before{
         font-family: FontAwesome;
         content: "\f00d";
         display: inline-block;
         padding-right: 3px;
         vertical-align: middle;
     }
     .wrapper ul{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       list-style: none;
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
     }
     .wrapper ul li{
       margin: 15px 0;
     }
     .wrapper ul li a{
       color: none;
       text-decoration: none;
       font-size: 30px;
       font-weight: 500;
       padding: 5px 30px;
       color: #fff;
       border-radius: 50px;
       background: #000;
       position: relative;
       line-height: 50px;
       transition: all 0.3s ease;
     }
     .wrapper ul li a:after{
       position: absolute;
       content: "";
       background: #fff;
       background: #ccc;
       width: 104%;
       height: 110%;
       left: -2%;
       top: -5%; /* if the font is 'Oswald'*/
       border-radius: 50px;
       transform: scaleY(0);
       z-index: -1;
       animation: rotate 1.5s linear infinite;
       transition: transform 0.3s ease;
     }
     .wrapper ul li a:hover:after{
       transform: scaleY(1);
     }
     .wrapper ul li a:hover{
       color: #fff;
     }
     input[type="checkbox"]{
       display: none;
     }
     .content{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 10;
       text-align: center;
       width: 100%;
       color: #202020;
     }
     .content .title{
       font-size: 40px;
       font-weight: 700;
     }
     .content p{
       font-size: 35px;
       font-weight: 600;
     }
 
     /* .navbar ul li a,.navbar-contact{
         display: none;
     }
     .navbar ul {
         justify-content: space-between;
         padding: 2rem 3.4rem;
         width: 10%;
         border-bottom-left-radius: 240px;
     } */
     .logo {
         font-size: 2.4rem;
         padding-left: 1rem;
     }

    /* ------------------  */
    .heading h1{
        font-size: 2.4rem;
    }
    .blogs-section{
        width: 90%;
    }
    .blog-box{
        flex-direction: column;
        margin: 1rem 0;
        height: auto;
    }
    .blog-box img {
        height: 22rem;
        margin-right: 0rem;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0;
    }
    .blog-box-right {
        padding: 1.2rem;
        width: 100%;
    }
    .blog-box-right button {
        margin-top: 2rem;
    }
    .blog-box-right h1{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    /* ------------------- */
    footer {
        padding: 2rem 2rem;
        margin-top: 6rem;
    }
    footer h3 {
        font-size: 1.8rem;
    }
    .footer-socials li a {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 1.6rem;
        margin: .4rem;
    }
    .footer-socials ul {
        margin-top: .4rem;
    }
    .footer-links ul li a {
        font-size: 1.2rem;
        margin-left: 10px;
        transition: all ease-in-out .1s;
        font-family: 600;
    }
}
@media(max-width:900px){
    footer{
        /* height: 60vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .6rem .4rem;
        margin-top: 6rem;
    }
    footer h3{
        font-size: 1.4rem;
    }
    .footer-top{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .footer-links div{
        margin: .4rem .4rem;
    }
    .footer-links ul li a{
        font-size: 1rem;
        color: #202020;
        margin-left: 10px;
        transition: all ease-in-out .1s;
        font-family: 600;
    }
    .footer-links ul li a:hover{
        transition: all ease-in-out .1s;
        color: #20202097;
    }
    
    .footer-socials ul{
        margin-top: .2rem;
    }
    .footer-socials li a{
        height: 2.2rem;
        width: 2.2rem;
        font-size: 1.2em;
        margin: .4rem;
        padding: 12px;
        border-radius: 50%;
        background-color: #080808;
        color: #fff;
        transition: all ease-in-out .1s;
    }
    .footer-socials li a:hover{
        transition: all ease-in-out .1s;
    
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
    
    .footer-bottom{
        font-size: 1rem;
        height: 4rem;
    }

}
/* ----------Article----------- */


/* 
.back-button{
    font-size: 3rem;
    margin-left: -2rem;
} */

.article-img{
    padding-top: 2rem;
    width: 100%;
    height: 75vh;
}
.table-of-content{
    background-color: #cccccc3b;
    padding: 1.4rem;
    border-radius: 10px;
    margin: 12px 0;
}
.table-of-content h4{
    font-size: 28px;
}
.table-of-content a{
    color: #000;
    font-size: 24px;
    padding-left: 16px;
}
.article .blog-content{
    padding: 1rem .8rem;
}
.article .blog-content h3{
    font-size: 1.6vw;
    margin: 12px 0;
}
.article .blog-content p{
    font-size: 1.2vw;
}

.text-boxes{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6px;
  margin-bottom: 60px;
}
.text-boxes .text-box{
  height: 400px;
  max-width: 100%;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.text-boxes .text-box .topic{
  font-size: 24px;
  font-weight: 600;
  color: #202020;
  margin: 4px;
}
.text-boxes .text-box textarea{
  height: 100%;
  width: 100%;
  padding: 30px;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border: 1px solid #888;
  border-radius: 8px;
  background: #cccccc25;
}
.text-box textarea::-webkit-scrollbar{
  display: none;
}
.text-boxes .text-box button{
  height: 45px;
  width: 155px;
  color: #000;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.4s ease;
  background: #000;
  color: #fff;
}
.text-boxes .text-box button:hover{
    background: #fff;
    border: 1px solid #000;
    color: #000;
}
@media (max-width: 400px) {
  .text-boxes .text-box button{
    width: 100%;
  }
}
  

.github-link a button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    font-size: 1.4rem;
    padding: 1rem;
    background-color: #000;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
}
.github-link a button{ 
    color: #fff;
}

@media(max-width:900px){
    .article-img{
        padding-top: 1rem;
        height: 40vh;
    }
    .table-of-content{
        padding: 1rem;
        margin: 6px 0;
    }
    .table-of-content h4{
        font-size: 22px;
    }
    .table-of-content a{
        color: #000;
        font-size: 18px;
        padding-left: 12px;
    }
    .article .blog-content{
        padding: 1rem .8rem;
    }
    .article .blog-content h3{
        font-size: 22px;
        margin: 8px 0;
    }
    .article .blog-content p{
        font-size: 18px;
        line-height: 24px;
    }
    /* --------- */
    .text-boxes {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin-bottom: 60px;  
    }
    /* --------- */
        
    .github-link a button{
        font-size: 1rem;
        padding: 12px;
        height: 40px;
        background-color: #000;
        border-radius: 10px;
    }
}