*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#DD6013 ;
    --background-color:#171717;
    --white-color:#fff;
    --black-color:#3D3D3D;
    --font-famity:"Jaldi", sans-serif;
}
body{
    font-family: var(--font-famity);
    cursor: none;
}
::-webkit-scrollbar {
    display: none;
}
html, body {
    height: 100%;
    width: 100%;
}
.highlited-text{
    color: var(--primary-color);
}
.loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    font-family: var(--main-font-family);
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    /* display: none; */
    z-index: 100;
    position: fixed;
}
.green{
    position: absolute;
    width: 100%;
    height: 0;
    background-color: var(--background-color);
    top: 100%;
    /* display: none; */
    z-index: 100;
}

.loader h1{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4vw;
    font-weight: 500;
    color: var(--white-color);
}

.reveal .parent{
    display: block;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reveal .parent .child span{
    display: inline-block;
}

.main {
    z-index: 10;
    background-image: url('../images/bg-shade.webp');
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* ------------------- */
.hero-container{
    height: 40vw;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    /* height: 10vh; */
}
.logo{
    font-size: 2.4rem;
    font-weight: 600;
    background-color: transparent;
    padding-left: 4rem;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: end;
    background-color: var(--white-color);
    padding: 1.6rem 4rem;
    width: 60%;
    border-bottom-left-radius: 180px;
    border: 1px solid #b1b1b1;

}
.navbar .laptop-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bx-menu{
    display: none;
}
.navbar ul li a{
    color: var(--black-color);
    margin: 0 1rem;
    font-size: 1.6rem;
}
.navbar-contact{
    margin-left: 8rem;
    background-color: #f8f8f8;
    border-radius: 28px;
    padding: 4px 0;
}
.navbar-contact a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000!important;
    font-weight: 600;
    padding: 2px 0px;
    font-size: 22px!important;
}
.navbar-contact a i{
    transform: rotate(-45deg);
    font-size: 28px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 10px;
    padding: 1px;
}
.wrapper,.phone-nav{
    display: none;
}


/* ---------------------- */

.hero-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 4vw;
}
.hero-heading img{
    height: 32vw;
    margin-top: 4rem;
}
.hero-heading h1{
    font-size: 8vw;
}
.hero-heading p{
    margin-top: 4.4vw;
    margin-left: 5.4vw;
    text-transform: uppercase;
}
.hero-heading div:nth-child(2){
    margin-top: -5rem;
    margin-bottom: -5rem;
}
.explore-button{
    margin-top: 2rem;
    border: none;
    padding: 1rem 4rem;
    width: 100%;
    border-radius: 30px;
    background-color: var(--primary-color);
    cursor: pointer;
}
/* .explore-button:hover{

} */
.hero-text{
    display: flex;
    flex-direction: row;
}

/* ------------------- */

.intro-container{
    height: 80vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding:2.2vw;
    margin: 2rem 4vw;
}

.intro-container h1{
    font-size: 6vw;
}
.intro-container h1 span{
    background-color: #cccccc61;
}

/* ------------------- */

.project-heading,.services-heading{
    justify-content: space-between;
    padding: 0 3vw;
}
.project-heading h1 ,.services-heading h1{
    font-size: 5vw;
}
.project-heading p{
    line-height: 18px;
    font-size: 1dvi;
}

.projects-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* .project-container{
    margin-left: 8vw;
} */
.project-container .project-filter .buttons{
    padding: 1vw 2.4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-filter .buttons a{
    margin: 0 .4rem;
    /* background-color: #ccc; */
    border: #ccc 2px solid;
    padding: .6rem 0.6rem;
    border-radius: 48px;
}
.discover-button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10rem;
}
/* .project-filter .buttons div:nth-child(2) a{
    padding: 10px 14px;
} */
.project-filter .buttons a .bx-right-arrow-alt{
    font-size: 2rem;
    background-color: #ccc;
    border-radius: 50%;
    padding: 4px;
    margin: -4px;
    margin-left: 10px;
}

.project-container .projects-section .project-box{
    display: flex;
    /* align-items: start; */
    justify-content: space-between;
    flex-direction: column;
    height: 26vw;
    width: 28vw;
    margin: 1rem;
    padding: 1rem 1.6rem;
    border: #999 1px solid;
    background-color: #fff;
    /* border: var(--white-color) 1px solid; */
    font-size: 1.4vw;
    text-align: center;
    border-radius: 12px 12px 40px 12px;
    background-size: 100%;
}
.project-box .project-box-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* .project-box .project-image img{
    height: 18vw;
    margin-top: 1rem;
    border-radius: 10px;
    border-bottom-right-radius: 40px;
} */
.project-box .project-image img{
    margin-top: 1rem;
    height: 90%;
    width: 100%;
    border-radius: 10px;
}
.project-box-heading{
    display: flex;
    align-items: center;
    background-color: #AFAFAF;
}
.project-container .projects-section .project-box i{
    font-size: 3vw;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    border: #000 1px solid;
}
.project-filter{
    font-size: 22px;
}

.project-discover-button {
    font-size: 22px;        
}

.project-filter-button :active {
    /* transition: all ease-in-out .1s; */
    background-color: #AFAFAF;
}
/* #Menu1,#Menu2,#Menu3,#Menu4{
    margin-left: 8.5vw;
} */

/* ------------------- */

.services-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.services-main .services-box{
    width: 90%;
    margin: .8rem 0;
    background-color: #fff;
    border: #999 1px solid;
    padding: 1.4rem;
    border-radius: 4rem;
    padding-left: 1.8rem;
    transition: all ease-in-out 1s;
}
.services-box-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.services-box-head p{
    width: 30%;
}
/* .services-main .services-box:hover{
    height: 20vw;
    transition: all ease-in-out 1s;  
} */
.services-box .services-content{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.services-box .services-content div:nth-child(1){
    margin-left: 4rem;
    margin-top: 2rem;
    width: 30%;
}
.services-content img{
    height: 100%;
}
.services-content h1{
    font-size: 2.4vw;
}
.services-content p{
    margin-top: 1.8vw;
    font-size: 1.6rem;
    line-height: 28px;
}
.services-content .services-arrow i{
    position: relative;
    top: 160px;
    right: 20px;
}

.services-discover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 13rem;
    height: 3.4rem;
    margin-top: 1rem;
    border: none;
    border-radius: 4rem;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 4px;
}
.services-discover i{
    border: none!important;
    height: 2.8rem!important;
    width: 2.8rem!important;
    font-size: 42px!important;
}

#after{
    padding: 0;
}
#after2{
    padding: 0;
}
/* --- */
#after{
    display: none;
}
#after2{
    display: none;
}
#before2{
    width: 90vw;
}
/* --- */
.services-main .services-box i{
    font-size: 3vw;
    background-color: #fff;
    border-radius: 50%;
    border: #000 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
}
  

/* ------------------- */

.discover-button{
    border: 1px solid #ccc;
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
    border-radius: 48px;
    width: 13rem;
}
.discover-button i{
    font-size: 2.2rem;
    background-color: #ccc;
    border-radius: 50%;
    padding: 4px;
    margin: -4px;
    margin-left: 10px;
}


/* ------------------- */
.blog-section {
    scroll-behavior: smooth;
}
/* .blog-section {
  --sb-track-color: #232E33;
  --sb-thumb-color: #d9d9d9;
  --sb-size: 6px!important;
}

.blog-section::-webkit-scrollbar {
  width: var(--sb-size);
  border-radius: 30px;
}

.blog-section::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 30px;
}

.blog-section::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 30px;
  border: 1px solid #ccc;
} */

@supports not selector(::-webkit-scrollbar) {
  .blog-section {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


.hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);
  
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));  
} 
.hs:before,
.hs:after {
    content: '';
    width: 10px;
}
.hs::-webkit-scrollbar {
    width: var(--sb-size);
}
.blog-section{
    margin-left: 16vw;
    transition: all ease-in-out 1s;
}
.blog-box{
    height: auto;
    width: 24vw;
    background-color: #fff;
    margin: 1rem;
    border-radius: 12px 12px 40px 12px;
    border: #999 1px solid;
}
.blog-box-top{
    background-color: #fff;
    border: #999 1px solid;
    border-left: none;
    border-top: none;
    padding: 1.4rem;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.blog-box-top div:nth-child(1){
    justify-content: space-between;
}
.blog-box-top div:nth-child(2){
    color: #000;
    font-weight: 700;
    font-size: 1.2rem;
}
.blog-box-top h2{
    font-size: 2rem;
    line-height: 32px;
    margin-bottom: 2rem;
}
.blog-box-top i{
    font-size: 3vw;
    background-color: #fff;
    border-radius: 50%;
    border: #000 1px solid;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: var(--black-color);
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
}
.blog-arrows{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 16px;
}
.blog-arrows i{
    font-size: 2rem;
    background-color: #ccc;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;
}
.blog-image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
.blog-image img{
    height: 100%;
    width: 100%;
    /* border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px; */
    border-radius: 10px;
}
/* ------------------- */
.contact-form{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: space-around;
    padding-left: 6rem;
    font-weight: 600;
    width: 70%;
    padding-bottom: 6rem;
}
.contact-form h2{
    font-size: 4vw;
}
.contact-form div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact-form input{
    margin: 0 1rem;
    border: none;
    width: 24vw;
    border-bottom: 2px solid #202020;
    padding: 10px 12px;
    font-size: 1vw;
    cursor: none;
    font-size: 1.1vw;
}
.contact-form input:focus {
    background-color: transparent;
    border: 0px solid;
    background-color: #cccccc36;
}


.contact-form button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  width: 16vw;
  margin-top: 2rem;
  z-index: 1;
}
.contact-form button span{
    position: relative;
    color: #fff!important;
    z-index: 100!important;
}
.contact-form button:after {
  content: "";
  background-color: #000;
  width: 100%;
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.contact-form button:hover:after {
  top: 0px;
  left: 0px;
}
/* .contact-form-left h1{
    font-size: 4vw;
    line-height: 80px;
} */

/* ------------------- */

/* ------------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.6rem 4rem;
    border-top: 2px solid #5d5d5d;
    /* margin-top: 6rem; */
    background-color: #000;
    color: #fff;
}
footer h3{
    font-size: 1.6rem;
}
.footer-top{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}
.footer-links{
    display: flex;
    flex-direction: row;
    align-items: start;
    /* margin: 0 2rem; */
}
.footer-links div{
    margin: 1rem 3rem;
}
.footer-links ul li a{
    font-size: 1.4rem;
    color: var(--white-color);
    transition: all ease-in-out .1s;
    font-family: 600;
}
.footer-links ul li a:hover{
    transition: all ease-in-out .1s;
    color: #ffffffa4;
}

.footer-socials ul{
    display: flex;
    align-items: center;
    margin-top: .8rem;
}
.footer-socials li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.4rem;
    margin: .4rem;
    padding: 12px;
    border-radius: 50%;
    background-color: #080808;
    color: #fff;
    transition: all ease-in-out .1s;
    border: 1px solid var(--white-color);
}
.footer-socials li a:hover{
    transition: all ease-in-out .1s;

    background-color: #fff;
    color: #000;
    border: 1px solid var(--white-color);
}
.footer-socials h4,.footer-socials h5{
    margin-left: 10px;
}
.footer-socials h5{
    margin-top: 1rem;
    font-size: 1.6rem;
    margin-bottom: -8px;
}
.footer-socials h4{
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
    height: 4rem;
    background-color: #000;
}

/* ------------------- */

@media(max-width:1300px){
    .navbar ul li a {
        color: #fff;
        margin: 0 .4rem;
        font-size: 1.2rem;
    }
    .intro-container{
        height: 60vh;
    }
    .blog-box{
        height: auto;
        width: 34vw;
    }
    .blog-image {
        padding: 12px;
    }
    /* .project-container .projects-section .project-box{
        height: 36vw;
        width: 34%;
    } */
    .logo{
        font-size: 2.4rem;
        font-weight: 600;
        background-color: transparent;
        padding-left: 4rem;
    }
    
    @keyframes rotate {
      0%{
        filter: hue-rotate(0deg);
      }
      100%{
        filter: hue-rotate(360deg);
      }
    }
    .hero-heading {
        margin: 1rem 2vw;
    }
    .hero-heading img{
        height: 32vw;
        margin-top: 4rem;
    }
    .hero-heading h1{
        font-size: 7.6vw;
    }
    .hero-heading p{
        margin-top: 4.4vw;
        margin-left: 5.4vw;
        font-size: 1.2vw;
    }
    .hero-heading div:nth-child(2){
        margin-top: -4vw;
        margin-bottom: -4vw;
    }
    .explore-button{
        margin-top: 2rem;
        border: none;
        padding: 1rem 4rem;
        width: 100%;
        border-radius: 30px;
        background-color: orange;
        cursor: pointer;
    }

    /* ------------------- */
    .services-box .services-content{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    .services-box .services-content div:nth-child(1){
        margin-left: 2rem;
        margin-top: 2rem;
        width: 30%;
    }
    .services-content img{
        height: 100%;
        
    }
    .services-content h1{
        font-size: 2.4vw;
    }
    .services-content p{
        margin-top: 1vw;
        font-size: 1.2rem;
        line-height: 22px;
    }
    .services-content .services-arrow i{
        position: relative;
        top: 160px;
        right: 8px;
        transform: scale(.8);
    }
    .services-discover {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 10rem;
        height: 3rem;
        margin-top: 1rem;
        border: none;
        border-radius: 4rem;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 4px;
    }
    /* ------------------- */
    
    .hero-bottom-1{
        background-color: #000;
        width: 34%;
        margin-top: 2rem;
        height: 12vh;
        color: #fff;
        font-size: 2rem;
        padding: 1rem;
        border-top-right-radius: 190px;
    }
    
    .hero-bottom-2{
        background-color: #000;
        width: 60%;
        /* margin-top: 2rem; */
        height: 12vh;
        color: #fff;
        font-size: 2rem;
        padding: 1rem;
        border-top-right-radius: 150px;
    }

    .contact-form a{
        width: 18vw;
        font-size: 1rem;
    }
    
    /* ------------------- */
    footer {
        padding: 2rem 2rem;
        margin-top: 6rem;
    }
    footer h3 {
        font-size: 1.8rem;
    }
    .footer-socials li a {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 1.6rem;
        margin: .4rem;
    }
    .footer-socials ul {
        margin-top: .4rem;
    }
    .footer-links ul li a {
        font-size: 1.2rem;
        margin-left: 10px;
        transition: all ease-in-out .1s;
        font-family: 600;
    }

}


@media(max-width:900px){
    /* .navbar ul{
        display: none;
    } */
    .hero-text{
        display: flex;
        flex-direction: column;
    }    
    .navbar .laptop-nav{
       display: none;
    }
    .navbar ul {
        padding: 0rem;
        width: 100%;

    }
    .wrapper,.phone-nav{
        display: block;
    }
    .wrapper{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #000;
      clip-path: circle(25px at calc(100% - 45px) 45px);
      transition: all 0.3s ease-in-out;
    }
    #active:checked ~ .wrapper{
      clip-path: circle(75%);
    }
    .menu-btn{
      position: absolute;
      z-index: 2;
      right: 20px;
      /* left: 20px; */
      top: 20px;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      background: #000;
      transition: all 0.3s ease-in-out;
    }
    #active:checked ~ .menu-btn{
      color: #fff;
    }
    #active:checked ~ .menu-btn i:before{
        font-family: FontAwesome;
        content: "\f00d";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
    }
    .wrapper ul{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #000;
      border: none;
    }
    .wrapper ul li{
      margin: 15px 0;
    }
    .wrapper ul li a{
      color: none;
      text-decoration: none;
      font-size: 30px;
      font-weight: 500;
      padding: 5px 30px;
      color: #fff;
      border-radius: 50px;
      background: #000;
      position: relative;
      line-height: 50px;
      transition: all 0.3s ease;
    }
    .wrapper ul li a:after{
      position: absolute;
      content: "";
      background: #fff;
       background: #ccc;
      width: 104%;
      height: 110%;
      left: -2%;
      top: -5%; /* if the font is 'Oswald'*/
      border-radius: 50px;
      transform: scaleY(0);
      z-index: -1;
      animation: rotate 1.5s linear infinite;
      transition: transform 0.3s ease;
    }
    .wrapper ul li a:hover:after{
      transform: scaleY(1);
    }
    .wrapper ul li a:hover{
      color: #fff;
    }
    input[type="checkbox"]{
      display: none;
    }
    .content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      text-align: center;
      width: 100%;
      color: #202020;
    }
    .content .title{
      font-size: 40px;
      font-weight: 700;
    }
    .content p{
      font-size: 35px;
      font-weight: 600;
    }

    /* .navbar ul li a,.navbar-contact{
        display: none;
    }
    .navbar ul {
        justify-content: space-between;
        padding: 2rem 3.4rem;
        width: 10%;
        border-bottom-left-radius: 240px;
    } */
    .logo {
        font-size: 2.4rem;
        padding-left: 1rem;
    }
    .hero-container{
        height: 165vw;
    }
    .hero-heading{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }
    .hero-heading:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .hero-heading h1 {
        font-size: 12.5vw;
    }
    .hero-heading div:nth-child(2) {
        margin-top: -1rem;
        margin-bottom: -1rem;
    }
    .explore-button {
        margin-top: 1rem;
        padding: 1rem 4rem;
    }
    .hero-heading p {
        margin-top: 0rem;
        margin-left: 0rem;
        font-size: 3vw;
    }
    .hero-heading img {
        height: 68vw;
        margin-top: 0rem;
    }
    .bx-menu{
        display: block;
        color: #fff;
        font-size: 1.2rem;
    }
    /* .flex-row,.hero-flex-row{
        flex-direction: column;
        align-items: start;
    } */
    /* ---------------------------------- */
    .intro-container {
        height: auto;
        padding: 2.2vw;
        margin: 2rem 0;
    }
    .intro-container h1 {
        font-size: 10vw;
    }
    /* ---------------------------------- */
    #Menu1, #Menu2, #Menu3, #Menu4 {
        margin-left: 0;
    }
    .project-heading{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .services-heading{
        margin: 1rem 0;
    }
    .project-heading h1, .services-heading h1 {
        font-size: 8vw;
    }
    .project-heading p {
        line-height: 18px;
        font-size: 5vw;
    }
    .project-container .project-filter .buttons {
        padding: 2vw 1vw;
        display: flex;
        flex-direction: column-reverse;
    }
    .project-filter-button{
        display: flex;
        flex-direction: row;
        margin: 0;
        height: 10vh;
    }
    .projects-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-container .projects-section .project-box {
        display: flex;
        justify-content: space-between;
        height: 80vw;
        width: 90%;
        margin: .4rem;
        padding: .8rem .8rem;
        font-size: 1.4vw;
        border-radius: 12px 12px 12px 12px;
        background-size: 100%;
    }
    .project-filter .buttons a {
        cursor: pointer;
        margin: 1rem .4rem;
        /* background-color: #ccc; */
        border: #ccc 2px solid;
        padding: .4rem .4rem;
        font-size: 3.6vw;
        font-weight: 600;
        /* height: 4rem; */
        border-radius: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project-box h2{
        font-size: 1.6rem;
    }
    .project-container .projects-section .project-box i {
        font-size: 8vw;
        margin-top: 4px;
    }
    .project-discover-button .discover-button{
        width: 36vw;
        padding: 8px;
    }
    /* ---------------------------------- */ 
    .services-main .services-box{
        /* height: 20vw; */
        font-size: 3.4vw;
    }
    .services-heading{
        display: flex;
        flex-direction: row;
    }
    .discover-button{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* .services-main .services-box {
        display: flex;
        align-items: center;
    } */
    .services-main .services-box i {
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.9rem;
        width: 1.9rem;
    }

    
    /* ------------------- */
    .services-box .services-content{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        /* height: 40vh; */
    }
    .services-box .services-content div:nth-child(1){
        margin-left: 2rem;
        margin-top: 2rem;
        width: 80%;
    }
    .services-content img{
        width: 100%;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    .services-content h1{
        font-size: 7vw;
    }
    .services-content p{
        margin-top: 1vw;
        font-size: 1rem;
        line-height: 20px;
    }
    .services-content .services-arrow i{
        position: relative;
        top: 0px;
        left: 150px;
        transform: scale(1.4);
        margin: 1rem 0;
    }
    .services-discover {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 10rem;
        height: 3rem;
        margin-top: 1rem;
        border: none;
        border-radius: 4rem;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 4px;
        margin-bottom: 2rem;
    }
    /* ---------------------------------- */
    .blog-arrows{
        display: none;
    }
    .blog-section{
        margin-left: 12vw;
    }
    .blog-box{
        height: auto;
        width: 80vw;
        margin: 12px 6px;
        border-radius: 12px 12px 12px 12px;
    }
    .blog-section .blog-box:nth-child(1){
        margin-left: 0;
    }
    .blog-box-top{
        padding: 1rem;
        border-bottom-right-radius: 40px;
    }
    .blog-box-top div:nth-child(1){
        justify-content: space-between;
        flex-direction: row;
    }
    .blog-box-top div:nth-child(2){
        font-weight: 700;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .blog-box-top h2{
        font-size: 1.6rem;
        line-height: 20px;
        /* margin-bottom: 2rem; */
    }
    .blog-box-top i{
        font-size: 8vw;
        background-color: #fff;
        border-radius: 50%;
        border: #000 1px solid;
    }
    .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 6px;
    }
    .blog-arrow{
        display: none!important;
    }
    /* ---------------------------------- */
    .contact-us .services-heading{
        align-items: center;
    }
    .contact-us .services-heading h1{
        font-size: 1.4rem;
    }
    
    .contact-form{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .contact-form h2{
        font-size: 8.4vw;
    }
    .contact-form div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .contact-form input{
        margin: 0 4px;
        border: none;
        width: 40vw;
        border-bottom: 2px solid #202020;
        padding: 10px 12px;
        font-size: 1vw;
        cursor: none;
        font-size: 4vw;
    }
    
    .contact-form a {
      font-size: .8rem;
      width: 50vw;
      margin-top: 1rem;
    }

    /* -------- */
    .discover-button {
        border: 1px solid #ccc;
        padding: 0.6rem 1rem;
        font-size: .8rem;
        width: 10rem;
        padding-right: 1px!important;
    }
    /* -------- */

    footer{
        /* height: 60vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .6rem .4rem;
        margin-top: 6rem;
        color: #fff;
    }
    footer h3{
        font-size: 1.4rem;
    }
    .footer-top{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .footer-links div{
        margin: .4rem .4rem;
    }
    .footer-links ul li a{
        font-size: 1rem;
        color: #fff;
        margin-left: 10px;
        transition: all ease-in-out .1s;
        font-family: 600;
    }
    .footer-links ul li a:hover{
        transition: all ease-in-out .1s;
        color: #fff;
    }
    
    .footer-socials ul{
        margin-top: .2rem;
    }
    .footer-socials li a{
        height: 2.2rem;
        width: 2.2rem;
        font-size: 1.2em;
        margin: .4rem;
        padding: 12px;
        border-radius: 50%;
        background-color: #080808;
        color: #fff;
        transition: all ease-in-out .1s;
    }
    .footer-socials li a:hover{
        transition: all ease-in-out .1s;
    
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
    
    .footer-bottom{
        font-size: 1rem;
        height: 4rem;
    }
    .contact-form button {
        padding: 13px 20px 13px;
        width: 63vw;
      }

}
