body{
    font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
.row{
    display: flex;
    flex-direction: row;
}
.project-hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: center; */
    margin-top: 4rem;
    padding: 0 4.6rem;
    margin-bottom: -2rem;
}
.project-hero div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project-hero h1{
    font-size: 17vw;
    font-weight: 400;
    text-transform: uppercase;
}
.o-ui-arrow{
    stroke: #000;
    margin-left: 3.6rem;
}

/* -------------------------- */

.all-projects{
    padding: 4rem;
    /* border-top: 2px solid #ccc; */
}
.all-projects div{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin: 1rem 0;
}
.all-projects .project-box img{
    width: 44vw;
    height: 26vw;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: -100!important;
}
/* .all-projects .project-box img:hover{
    transform:scale(1.02);
    filter: contrast(120%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
} */

.all-projects .project-box {
    display: flex;
    flex-direction: column;
}
.all-projects .project-box h2{
    font-size:2.6rem;
    margin: 0 14px;
    display: flex;
    align-items: center;
}
.bx-right-arrow-alt{
    display: none;
}
.all-projects .project-box p{
    font-size: 1.2rem;
    margin: 10px 14px;
    text-transform: uppercase;
}
.all-projects a{
    color: #000!important;
}
.all-projects div a{
    transition: all ease-in-out .1s;
}
.all-projects div a:hover{
    transition: all ease-in-out .1s;
    transform: scale(1.01);
    img{

        filter: contrast(120%);
        transform: scale(1.01);
    }
    h2{
        font-size: 2.8rem;
        transition: all ease-in-out .1s;
        }
        p{
            transition: all ease-in-out .1s;
            font-size: 1.4rem;
    }

}

.contact-section{
    width: 100%;
    /* margin: 2vw 3vw; */
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    border-top: 2px solid #ccc;
}
.contact-heading{
    display: flex;
    flex-direction: column;
    color: #2f2f2f;
}
.contact-section div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.contact-section div:nth-child(2) h1{ 
    margin-left: 8vw;
}
.services-box p{
    font-size: 1vw;
}

.buttons{
     margin-left: 4rem;
}

.contact-arrow-svg{
    transform: rotate(-1deg);
}
.contact-section h1{
    font-size: 10vw;
}
.contact-section h1 span{
    margin-left: 14vw;
}
.contact-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact-form-left{
    margin-right: 4vw;
}
.contact-form-right form input{
    margin: .4em;
    padding: 12px;
    border-radius: 50px;
    border: none;
}
.contact-form-right .message{
    width: 100%;
}

.contact-section{
    display: none;
}

/* ------------------- */
footer{
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.6rem 4rem;
    border-top: 2px solid #00000025;
    margin-top: 6rem;
    background-color: #20202009;
}
footer h3{
    font-size: 2.2rem;
}
.footer-top{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.footer-links div{
    margin: 1rem 4rem;
}
.footer-links ul li a{
    font-size: 1.6rem;
    color: #202020;
    margin-left: 10px;
    transition: all ease-in-out .1s;
    font-family: 600;
}
.footer-links ul li a:hover{
    transition: all ease-in-out .1s;
    color: #20202097;
}

.footer-socials ul{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}
.footer-socials li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    margin: .4rem;
    padding: 12px;
    border-radius: 50%;
    background-color: #080808;
    color: #fff;
    transition: all ease-in-out .1s;
}
.footer-socials li a:hover{
    transition: all ease-in-out .1s;

    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
    height: 4rem;
    background-color: #000;
}

@media(max-width:1200px){
    .buttons{
        margin-left: 2.5rem;
        font-size: 1rem;
    }
    .project-hero {
        flex-direction: column;
        align-items: start;
        /* justify-content: center; */
        margin-top: 10rem;
        padding: 0 2.2rem;
    }
    .all-projects {
        padding: 3vw;
        /* border-top: 2px solid #ccc; */
    }
    .all-projects .project-box img {
        width: 46vw;
        height: 26vw;
        border-radius: 20px;
        margin-bottom: 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: all ease-in-out .3s;
        z-index: -100 !important;
    }
        /* ------------------- */
    footer {
        padding: 2rem 2rem;
        margin-top: 6rem;
    }
    footer h3 {
        font-size: 1.8rem;
    }
    .footer-socials li a {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 1.6rem;
        margin: .4rem;
    }
    .footer-socials ul {
        margin-top: .4rem;
    }
    .footer-links ul li a {
        font-size: 1.2rem;
        margin-left: 10px;
        transition: all ease-in-out .1s;
        font-family: 600;
    }
}
@media(max-width:860px){
    .buttons{
        margin-left: .5rem;
        font-size: .6rem;
    }
    .project-filter .buttons a {
        margin: 1rem .1rem;
    }
    .wrapper{
        z-index: 100;
    }
    .menu-btn{
        z-index: 101;
    }
    .project-hero {
        width: 100%;
        /* justify-content: center; */
        margin-top: 8rem;
        padding: 0 1.6rem;
    }
    .project-hero h1 {
        font-size: 15vw;
        font-weight: 400;
        text-transform: uppercase;
    }
    .o-ui-arrow {
        stroke: #000;
        height: 2.2rem;
        margin-left: .1rem;
    }
    .all-projects {
        padding: 0 1rem;
        width: 100vw;
        /* border-top: 2px solid #ccc; */
    }
    .all-projects div{
        display: flex;
        flex-direction: column;
        /* z-index: ; */
    }
    .all-projects .project-box img {
        width: 94vw;
        height: 62vw;
        border-radius: 20px;
        margin-bottom: 1rem;
        /* z-index: -100!important; */
    }
    .all-projects .project-box p {
        font-size: 1rem;
        margin: 6px 4px;
        text-transform: uppercase;
    }
    .all-projects .project-box h2 {
        font-size: 2rem;
        margin: 0 1px;
    }
    
    .contact-section h1 {
        font-size: 14vw;
    }
    .contact-form{
        display: flex;
        flex-direction: column!important;
        margin: 0 1rem;
        width: 90vw!important;
    }
    .contact-section div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
    .contact-form .contact-form-left{
        margin-bottom: 2rem;
        margin-top: 1rem;
    }   
    .contact-button button{
        /* margin-left: 10vw; */
        border: 1px solid #666;
        padding: 4px;
        margin-top: .5rem;
        height: 5rem;
        width: 5rem;
        font-size: .8rem;
    }
    footer{
        /* height: 60vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .6rem .4rem;
        margin-top: 6rem;
    }
    footer h3{
        font-size: 1.4rem;
    }
    .footer-top{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .footer-links div{
        margin: .4rem .4rem;
    }
    .footer-links ul li a{
        font-size: 1rem;
        color: #202020;
        margin-left: 10px;
        transition: all ease-in-out .1s;
        font-family: 600;
    }
    .footer-links ul li a:hover{
        transition: all ease-in-out .1s;
        color: #20202097;
    }
    
    .footer-socials ul{
        margin-top: .2rem;
    }
    .footer-socials li a{
        height: 2.2rem;
        width: 2.2rem;
        font-size: 1.2em;
        margin: .4rem;
        padding: 12px;
        border-radius: 50%;
        background-color: #080808;
        color: #fff;
        transition: all ease-in-out .1s;
    }
    .footer-socials li a:hover{
        transition: all ease-in-out .1s;
    
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
    
    .footer-bottom{
        font-size: 1rem;
        height: 4rem;
    }

}
