body{
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem;
    font-size: 1.6rem;
}
.nav a{
    color: #111!important;
    font-weight: 500;
}

.heading{
    height: 40vh;
    font-size: 8vw;
    display: flex;
    align-items: end;
    margin-left: 4.2rem;
}
.hero-image img{
    width: 100vw;
    height: 100vh;
}

/* -------------------- */

.project-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-content div{
    width: 44%;
    margin-top: 3rem;
    margin-left: -12rem;
    margin-bottom: 1.2rem;
}
.project-content div p{
    font-size: 1.8rem;
}
.project-info li{
    display: grid;
    grid-template-columns: 2fr 4fr;
    column-gap: 1.5em;
    padding: 1.25em 0px;
    border-bottom: 1px solid rgba(17, 20, 20, 0.1);
}
.project-info li span{
    font-size: 20px!important;
}

.view-project-button a {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.view-project-button a:after {
  content: "";
  background-color: #000;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.view-project-button a:hover:after {
  top: 0px;
  left: 0px;
}

/* -------------------- */

.second-image img{
    width: 100vw;
    height: auto;
}


.about-project{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74vh;
}
.about-project div{
    width: 60%;
}
.about-project div span{
    font-size: 1rem;
}
.about-project div h2{
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 1.4rem;
}
.about-project div p{
    font-size: 1.4rem;
    line-height: 28px;
}

.project-snaps img{
    width: 100vw;
    height: auto;
}


/* ------------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.6rem 4rem;
    border-top: 2px solid #00000025;
    margin-top: 6rem;
    background-color: #20202009;
}
footer h3{
    font-size: 1.6rem;
}
.footer-top{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}
.footer-links{
    display: flex;
    flex-direction: row;
    align-items: start;
    /* margin: 0 2rem; */
}
.footer-links div{
    margin: 1rem 3rem;
}
.footer-links ul li a{
    font-size: 1.4rem;
    color: #202020;
    transition: all ease-in-out .1s;
    font-family: 600;
}
.footer-links ul li a:hover{
    transition: all ease-in-out .1s;
    color: #20202097;
}

.footer-socials ul{
    display: flex;
    align-items: center;
    margin-top: .8rem;
}
.footer-socials li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.4rem;
    margin: .4rem;
    padding: 12px;
    border-radius: 50%;
    background-color: #080808;
    color: #fff;
    transition: all ease-in-out .1s;
}
.footer-socials li a:hover{
    transition: all ease-in-out .1s;

    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.footer-socials h4,.footer-socials h5{
    margin-left: 10px;
}
.footer-socials h5{
    margin-top: 1rem;
    font-size: 1.6rem;
    margin-bottom: -8px;
}
.footer-socials h4{
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
    height: 4rem;
    background-color: #000;
}


@media (min-width: 768px) {
  .view-project-button a {
    padding: 13px 50px 13px;
  }
}

@media(max-width:1100px){   
   .project-content div{
       width: 48%;
       margin-top: 2.4rem;
       margin-left: -10rem;
   }
   .project-content div p{
       font-size: 1.4rem;
   }
}
@media(max-width:750px){
    .nav {
        margin: 1rem;
        font-size: 1.4rem;
    }
    .heading {
        height: 20vh;
        font-size: 8vw;
        margin-left: 1.2rem;
    }
    .hero-image img {
        width: 100vw;
        height: 40vh;
    }
    /* ------------------ */
    .project-content div {
        width: 88%;
        margin-top: 2rem;
        margin-left: 0;
    }
    .view-project-button a {
      padding: 13px 20px 13px;
      font-size: 1rem;
    }
    /* ------------------ */
    .about-project div {
        width: 88%;
    }
    /* ------------------ */

}

