body{
    overflow-x: hidden;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem;
    font-size: 1.6rem;
}
.nav a{
    color: #111!important;
    font-weight: 500;
}

.heading{
    height: 40vh;
    font-size: 8vw;
    display: flex;
    align-items: end;
    margin-left: 4.2rem;
}
.hero-image img{
    width: 100vw;
    height: 100vh;
}

.project-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-content div{
    width: 44%;
    margin-top: 2.4rem;
    margin-left: -12rem;
}
.project-content div p{
    font-size: 2rem;
}
.project-info li{
    display: grid;
    grid-template-columns: 2fr 4fr;
    column-gap: 1.5em;
    padding: 1.25em 0px;
    border-bottom: 1px solid rgba(17, 20, 20, 0.1);
}

.second-image img{
    width: 100vw;
    height: auto;
}


.about-project{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74vh;
}
.about-project div{
    width: 60%;
}
.about-project div span{
    font-size: 1rem;
}
.about-project div h2{
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 1.4rem;
}
.about-project div p{
    font-size: 1.4rem;
    line-height: 28px;
}

.project-snaps img{
    width: 100vw;
    height: auto;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    border-bottom: 2px solid #cccccc49;
    margin: 0 5rem;
}
.footer h3{
    font-size: 1.4rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    color: #00000093;
}
.footer h1 a{
    font-size: 8rem;
    color: #111;
    font-weight: 400;
}



@media(max-width:1100px){   
   .project-content div{
       width: 48%;
       margin-top: 2.4rem;
       margin-left: -10rem;
   }
   .project-content div p{
       font-size: 1.4rem;
   }
}